header{
    
    display: inline-block;
    width: 350px;
    padding-left: 50px;
    background-color: rgb(154, 31, 136);
   border-color: black;
   border-width: 5px;
   border-style: groove;
    font-size: larger;
    
    font-style: italic;
}
h1{
    color: aliceblue;
}
body{
    
    background-color: #0dc7cd;
   


}
main{
    font-size: large;
   
padding: 38px;
padding-bottom: 250px;
color: #cd3a0d;

}
a{
    color: #fdfdfc;
    font-size: larger;
    
}

footer{
    text-align: center;
    background-color: rgb(237, 14, 122);
    color: #f4eded;
   font-size: larger;
    
}
